<% include ../partials/header %>


<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpCamp!</h1>
        <p>Here are a few campgrounds</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new Campground</a>
        </p>
    </div>
</header>
<div class="row text-center" style="display: flex; flex-wrap: wrap">
    <% campGrounds.forEach((campGround)=> { %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campGround.image %>" alt="">
            <div class="caption">
                <h4><%= campGround.name %></h4>
            </div>
            <p>
                <a href="/campgrounds/<%= campGround._id %>" class="btn btn-primary">More info</a>
            </p>
        </div>
    </div>
    <% }) %>
</div>


<% include ../partials/footer %>